<div class="container">
  <h1>Listado de Cursos</h1>

  <!-- Botón para obtener todos los cursos -->
  <button class="btn btn-primary" (click)="cargarCursosEstudiante(1)">Obtener Cursos</button>

  <!-- Tabla para mostrar los cursos con estilos de Bootstrap -->
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Codigo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let curso of cursos">
        <td>{{ curso.id }}</td>
        <td>{{ curso.nombre}}</td>
        <td>{{ curso.codigo }}</td>
        <td>
          <button class="btn btn-secondary" (click)="verCurso(curso.id)">Ver</button>
          <button class="btn btn-warning" (click)="editarCurso(curso.id)">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
