<!--navbar.component.html-->

<div class="sample-column">
    <igx-navbar class="igx-navbar--default">
        <igx-navbar-action>
        <!--    <button igxButton="icon" (click)="toggleDrawer()">
                <igx-icon>menu</igx-icon>
            </button>-->
        </igx-navbar-action>

        <div igxNavbarTitle style="display: flex; justify-content: center;">
            <a href="https://www.infragistics.com/products/ignite-ui-angular" target="_blank">
                <img src="../assets/img/logo.png"
                      width="480px" height="20px" alt style="margin-top: 7px;" >
            </a>
        </div>
        
        <button igxButton="icon">
            <img _ngcontent-axr-c35="" width="100"  height="40px" class="img rounded-circle zoom" style="vertical-align: middle;" src="https://image-api.espe.edu.ec/imagen/L00051746">
        
        </button>
        <span _ngcontent-axr-c35="" class="image-text" style="color:white;font-size: 15px; padding-left: 5px;">L00051746</span>

        <button igxButton="icon">
            <igx-icon>more_vert</igx-icon>
        </button>
        
    </igx-navbar>
</div>
